nav{
  width: 100%;
  height: 50px;
  padding: 0px;
  margin: 0px;
  background-color: rgb(0, 255, 242);
  text-align: left;
  font-size: 17px;
  color: black;
}
nav h2{
  margin: auto;
  padding: 10px;
}
body{
  margin: 0px;
}
.title{
  margin: auto;
  text-align: center;
}
.game{
  display: inherit;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid rgb(75, 199, 199);
  overflow: hidden;
  margin: auto;
  background: white;
}
.row{
  width: 100%;
  height: 50%;
}
.color{
  width: 50%;
  height: 100%;
  display: inline-block;
}
.left{
  float: left;
}
.right{
  float: right;
}
.rojo{
  background: rgb(177, 20, 20);
}
.rojo.light{
  background: rgb(255, 0, 0);
}
.violeta{
  background: rgb(138, 10, 138);
}
.violeta.light{
  background: rgb(255, 0, 255);
}
.verde{
  background: rgb(5, 121, 5);
}
.verde.light{
  background: rgb(7, 226, 7);
}
.naranja{
  background: rgb(150, 98, 2);
}
.naranja.light{
  background: rgb(255, 168, 5);
}
.btn{
  margin-top: 20px;
  text-align: center;
}
.btnStart{
  width: 200px;
  height: 50px;
  background: rgb(24, 110, 197);
  box-shadow: 0 0 2px 2px royalblue;
  border: 1px solid dodgerblue;
  border-radius: 10px;
  text-align: center;
  color: white;

}
.hide{
  display: none;
}

/*estilo snackbar*/
#snackbar{
  font-family: sans-serif;
  visibility: hidden;
  min-width: 300px;
  margin-left: -150px;
  background-color: #3f7ed1;
  color:white;
  text-align: center;
  border-radius: 10px;
  padding: 15px;
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 35px;
}
#snackbar.show{
  visibility: visible;
  -webkit-animation: fadeIn 0.5s, fadeOut 0.5s 2s;
  animation: fadeIn 0.5s, fadeOut 0.5s 2s;
}

@-webkit-keyframes fadeIn{
  from { top: 0; opacity: 0;}
  to {top: 35px; opacity: 1;}
}
@keyframes fadeIn{
  from { top: 0; opacity: 0;}
  to {top: 35px; opacity: 1;}
}

@-webkit-keyframes fadeOut {
  from { top: 35px; opacity: 1;}
  to {top:35px; opacity: 0;}
}

@keyframes fadeOut {
  from { top: 35px; opacity: 1;}
  to {top: 35px; opacity: 0;}
}